div.fourcol {
  display: grid;
  grid-template-columns: max-content max-content max-content max-content;
  grid-gap: 5px;
  margin: auto;
}
div.fourcol label {
  text-align: left;
}
div.fourcol label:after {
  content: ":";
}

#add-account {
  font-size: 25px;
  text-align: center;
  margin-left: -50%;
  margin-right: auto;
  position: relative;
  grid-column: 3;
}

div.twocol {
  display: grid;
  grid-template-columns: max-content max-content;
  grid-gap: 5px;
  margin: auto;
}

div.twocol label {
  text-align: left;
}
div.twocol label:after {
  content: ":";
}
form {
  display: grid;
  grid-template-columns: max-content max-content;
  grid-gap: 5px;
  margin: auto;
}

form input {
  background: lightgrey;
  padding: 0.7em;
  width: 100%;
  border: 0;
}

fieldset {
  border-color: black;
  border-style: solid;
  margin-right: auto;
}

div.risk label {
  text-align: left;
}
div.risk label:after {
  content: ":";
}

div.risk input {
  color: red;
  font-weight: bold;
}
