.fourcol {
  display: grid;
  grid-template-columns: max-content max-content max-content max-content;
  grid-gap: 5px;
  margin: auto;
}
.fourcol label {
  text-align: left;
}
.fourcol label:after {
  content: ":";
}

#add-account {
  font-size: 25px;
  text-align: center;
  margin-left: -50%;
  margin-right: auto;
  position: relative;
  grid-column: 3;
}

.twocol {
  display: grid;
  grid-template-columns: max-content max-content;
  grid-gap: 5px;
  margin: auto;
}

.twocol label {
  text-align: left;
}
.twocol label:after {
  content: ":";
}

.risk {
  display: grid;
  grid-template-columns: max-content max-content;
  grid-gap: 5px;
  margin: auto;
}
.risk label {
  text-align: left;
}
.risk label:after {
  content: ":";
}

.risk input {
  color: red;
  font-weight: bold;
}

fieldset {
  border-color: black;
  border-style: solid;
  margin-right: auto;
}

#update-account {
  font-size: 25px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
