{% from "column_tools.jinja" import build_form_inputs %} 
<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8" />
    <title>Add a new account</title>
    <link rel="stylesheet" href="{{- url_for('static', filename='css/style.css') -}}" />
    <script src="{{- url_for('static', filename='js/handleFormSubmit.js') -}}"></script>
  </head>

  <body>
    <form id="client_info" action="{{- create_account_url -}}">
      <fieldset>
          <Legend>New Client Info</Legend>
          {{ build_form_inputs(schema, form_defaults) }}
      </fieldset>
      <BR/>
      <button type="submit" id="add-account" onclick="handleFormSubmit">Create Account </button>
    </form>
  </body>

</html>
