{% from "column_tools.jinja" import build_form_inputs %} 
<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8" />
    <title>Add a new account</title>
    <link rel="stylesheet" href="{{- url_for('static', filename='css/style.css') -}}" />
  </head>

  <body>
    <form id="client_info" action="{{- create_account_url -}}">
      <fieldset>
      <Legend>New Client Info</Legend>
      <div class="fourcol"></div>
        {{ build_form_inputs(schema, form_defaults) }}
        <input  id="add-account" value="Create Account" type="submit">
      </div>
      </fieldset>
    </form>
  </body>

  <script src="{{- url_for('static', filename='js/handleFormSubmit.js') -}}"></script>
  <script>
    const exampleForm = document.getElementById("client_info");
    exampleForm.addEventListener("submit", handleFormSubmit);
  </script>
</html>
