{% from "column_tools.jinja" import build_form_inputs %} 
<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8" />
    <title>Add a new account</title>
    <link rel="stylesheet" href="{{- url_for('static', filename='css/style.css') -}}" />
    <script src="{{- url_for('static', filename='js/handleFormSubmit.js') -}}"></script>
  </head>

  <body>
    <form id="account_info" action="{{- create_account_url -}}" method="POST">
      <fieldset>
          <Legend>New Account Info</Legend>
          {{ build_form_inputs(schema, form_defaults) }}
      </fieldset>
      <BR/>
      <input type="submit" id="submit" value="Create Account" />
    </form>
  </body>

  <script>
    const exampleForm = document.getElementById("account_info");
    exampleForm.addEventListener("submit", handleFormSubmit);
  </script>
</html>
