<footer>
<p>Credit Risk AI Demo created by <A href="https://www.ibm.com/products/expertlabs"> IBM Expert Labs </A> </p>
<p>Author: Nick Lawrence <a href="mailto:ntl@us.ibm.com"> ntl@us.ibm.com </a> </p>
<p>&copy; IBM 2023</p>
</footer>