<HTML>
<head>
    <meta charset="utf-8" />
    <title>Demo Application Home Page</title>
    <link rel="shortcut icon" href="{{- url_for('static', filename='favicon.ico') -}}" />
    <link rel="stylesheet" href="{{- url_for('static', filename='css/style.css') -}}" />
    <script src="{{- url_for('static', filename='js/handleFormSubmit.js') -}}"></script>
  </head>
<BODY>
 {% include 'nav_bar.jinja' %}

  <div class="center-heading"> 
    <p> Demo: Enterprise AI on IBM Power Systems </p>
    <p> (Open Source, OpenShift, and DB2)</p>
  </div>
  <div class="slideshow-container">

    <div class="mySlides slideshow-fade mySlides-active">
      <img src="{{- url_for('static', filename='/slideshow/1.jpg') -}}"/>
    </div>

    <div class="mySlides slideshow-fade">
      <img src="{{- url_for('static', filename='/slideshow/2.jpg') -}}"/>
    </div>

    <div class="mySlides slideshow-fade">
      <img src="{{- url_for('static', filename='/slideshow/3.jpg') -}}"/>
    </div>

    <div class="mySlides slideshow-fade">
      <img src="{{- url_for('static', filename='/slideshow/4.jpg') -}}"/>
    </div>

  </div>

  <br>

  <div style="text-align:center">
    <span class="slideshow-dot" onclick="click_dot(0)"></span> 
    <span class="slideshow-dot" onclick="click_dot(1)"></span> 
    <span class="slideshow-dot" onclick="click_dot(2)"></span>
    <span class="slideshow-dot" onclick="click_dot(3)"></span> 
  </div>

  <!-- https://www.w3schools.com/howto/tryit.asp?filename=tryhow_js_slideshow_auto -->
  <script>
    var curSlide = 0;
    var numSlides = document.getElementsByClassName("mySlides").length
    var SlideShowInterval = null;

    showSlides();

    function showSlide(slide_num) {
      let i

      var slides = document.getElementsByClassName("mySlides");
      var dots = document.getElementsByClassName("slideshow-dot");

      slides[slide_num].classList.add('mySlides-active')
      dots[slide_num].classList.add('slideshow-dot-active')
      curSlide = slide_num

      for (i = 0; i < slides.length; i++)  {
        if ((i != curSlide) && slides[i].classList.contains('mySlides-active')) {
          slides[i].classList.remove('mySlides-active')
        }
      }


      for (i = 0; i < dots.length; i++) {
        if ((i != curSlide) && dots[i].classList.contains('slideshow-dot-active')) {
          dots[i].classList.remove('slideshow-dot-active')
        }
      }
      

    }


    function showSlides() {
      
      SlideShowInterval = setInterval(function() {
                                    showSlide((curSlide + 1) % numSlides);
                                 },
                                 10000
                                 );
    }

    function click_dot(dot_num) {
      if (SlideShowInterval) {
        clearInterval(SlideShowInterval)
        SlideShowInterval = null
        showSlide(dot_num)
        return
      }

      if (curSlide == dot_num) {
        showSlides()
        return
      } else {
        showSlide(dot_num)
      }
    }
  </script>
 {% include 'footer.jinja' %}
</BODY>
</HTML>