<HTML>
<head>
    <meta charset="utf-8" />
    <title>Demo Application Home Page</title>
    <link rel="shortcut icon" href="{{- url_for('static', filename='favicon.ico') -}}" />
    <link rel="stylesheet" href="{{- url_for('static', filename='css/style.css') -}}" />
    <script src="{{- url_for('static', filename='js/handleFormSubmit.js') -}}"></script>
  </head>
<BODY>
 {% include 'nav_bar.jinja' %}
</BODY>
</HTML>