<HTML>
<head>
    <meta charset="utf-8" />
    <title>Demo Application Home Page</title>
    <link rel="shortcut icon" href="{{- url_for('static', filename='favicon.ico') -}}" />
    <link rel="stylesheet" href="{{- url_for('static', filename='css/style.css') -}}" />
    <script src="{{- url_for('static', filename='js/handleFormSubmit.js') -}}"></script>
  </head>
<BODY>
 {% include 'nav_bar.jinja' %}

<H1> Demo Objectives </H1>
This demo implements a simple application to create new accounts for credit applications. The application intergrates an AI model to predict whether new accounts are a risk.

The demo show-cases:
<UL>
<LI> Integrated AI model for predictions </LI>
<LI> Model explainability </LI>
<LI> Model training, deployment, and Monitoring on IBM Power systems using Kubeflow </LI>
</UL>

<H2> Data and Features </H2>
The same data and features are taken from the IBM Watsonx German Credit Risk sample dataset. The dataset is available under the MIT license <a href="https://dataplatform.cloud.ibm.com">here.</a>

<H2> Technologies </H2>
<UL>
<LI> Red Hat OpenShift </LI>
<LI> Kubeflow </LI>
<LI> KServe </LI>
<LI> KNative </LI>
<LI> Alibi Explainers </LI>
</UL>

 {% include 'footer.jinja' %}
</BODY>
</HTML>