<!DOCTYPE html>
<html lang="en">

  <head>
  <meta charset="utf-8" />
    <title>Accounts </title>
    <link rel="shortcut icon" href="{{- url_for('static', filename='favicon.ico') -}}" />
    <link rel="stylesheet" href="{{- url_for('static', filename='css/style.css') -}}" />
    <script src="{{- url_for('static', filename='js/handleFormSubmit.js') -}}"></script>
  </head>

  <body>
   {% include 'nav_bar.jinja' %}
    <table>
        <thead>
            <tr>
                <th>Account</th>
                <th>Predicted Risk</th>
                <th>Risk</th>
            </tr>
        </thead>
        <tbody>
            {%- for row in rows -%}
                <tr>
                    <td><A href="{{- url_for('Accounts.retrieve_account_info', account_id=row['ACCOUNT_ID']) -}}"> {{ row['ACCOUNT_ID'] }} </A> </td>
                    <td> {{ row['PredictedRisk'] if row['PredictedRisk'] else 'Unknown'}} </td>
                    <td> {{ row['Risk'] if row['Risk'] else 'Unknown' }} </td>
                </tr>
            {%- endfor -%}
        </tbody>
    </table>
    <UL id="previous_next_page_menu">
            {%- if offset > 0 %}
                <LI id="previous">
                    <A 
                    href="{{- url_for('Accounts.list_or_create_accounts', offset=(offset - limit) if (offset - limit >= 0) else 0, limit=limit)}}">
                    PREVIOUS
                    </A>
                </LI>
            {%- else -%}
                <LI id="previous"></LI>
            {%- endif -%}
            
            {%- if (max_rows > (offset + limit)) -%}
                <LI id="next">
                    <A href="{{- url_for('Accounts.list_or_create_accounts', offset=(offset + limit), limit=limit) -}}">
                        NEXT
                    </A>
                </LI>
            {%- else -%}
            <LI id="next"></LI>
            {%- endif -%}
    </UL>

    {% include 'footer.jinja' %}
  </body>

  </html>