<div id="demo_title">Credit Risk Demo</div>
<UL id="main_nav_bar">
    <LI id="Demo Overview">
        <A 
        href="{{- url_for('home') }}">
        Home
        </A>
    </LI>
    <LI id="listAccounts">
        <A 
        href="{{- url_for('Accounts.list_or_create_accounts', offset=0, limit=25) }}">
        View Accounts
        </A>
    </LI>
    <LI id="addAccount">
        <A 
        href="{{- url_for('Accounts.list_or_create_accounts', new='True') }}">
        Create Account
        </A>
    </LI>
</UL>