{% from "column_tools.jinja" import build_form_inputs %} 
{% from "column_tools.jinja" import render_cat_feature %} 
{% from "column_tools.jinja" import render_explain_anchors %}
<!DOCTYPE html>
<html lang="en">

  <head>
  <meta charset="utf-8" />
    <title>View/Edit account {{ client_info_values['CLIENT_ID'] }} </title>
    <link rel="shortcut icon" href="{{- url_for('static', filename='favicon.ico') -}}" />
    <link rel="stylesheet" href="{{- url_for('static', filename='css/style.css') -}}" />
    <script src="{{- url_for('static', filename='js/handleFormSubmit.js') -}}"></script>
  </head>

  <body>
    <form id="account_info" onsubmit="return false">
      <div id="pageloader">
        <img src="{{- url_for('static', filename='bee.png') -}}" id="spinner"/> 
      </div>

      <fieldset id="account_header"">
        <legend>Account Info</legend>
        <label for="account-id"> Account Id</label>
        <input id="account-id" value="{{ client_info_values['CLIENT_ID'] }}" type="number" readonly/> 
      </fieldset>

      <fieldset id="account_details" disabled="disabled">
        <legend>Account Info</legend>
       
          {{ build_form_inputs(schema, client_info_values) }}
      
          {% set risk_levels = schema.label_columns['Risk'] + ["Not Verified"] %}
          {{ render_cat_feature('VerifiedRisk', 
                                risk_levels, 
                                client_info_values['Risk'] if client_info_values['Risk'] 
                                                           else "Not Verified") 
          }}

      </fieldset>

      <fieldset id="predicted_risk_assessment">
        <legend>Predicted Risk Assessment</legend>
        
        <label for="PredictedRisk">Assessment</label>
        <input id="PredictedRisk" value="{{client_info_values['PredictedRisk']}}" readonly />

        {% if client_info_values['ExplainRisk'] %}
           <label for="ExplainRisk">Explaination</label>
              {%set explaination = render_explain_anchors(client_info_values['ExplainRisk'])%}
                <textarea id="ExplainRisk" rows="5" cols="50" readonly>
                  {{- explaination -}}
                </textarea>
        {% endif %}
      </fieldset>
    
     <button id="edit">Edit Account </button>
     <button id="submit" class="hide">Edit Account </button>
    </form>
  </body>

  <script>
    const pr = document.getElementById("PredictedRisk")  
    if (pr.value == 'Risk') {
      pr.classList.add('risk')
    } else if (pr.value == 'No Risk') {
      pr.classList.add('norisk')
    }
  </script>

  <script>
    const editButton = document.getElementById("edit")
    editButton.addEventListener("click", (event) => {
      const account_details = document.getElementById("account_details")
      account_details.disabled = "false"
      event.target.disabled = true
      event.target.classList.add("hide")
      const submitButton = document.getElementById("submit")
      submitButton.classList.remove("hide")
    })
  </script>
  
</html>
