{% from "column_tools.jinja" import build_form_inputs %} 
{% from "column_tools.jinja" import render_cat_feature %} 
{% from "column_tools.jinja" import render_explain_anchors %}
<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8" />
    <title>View/Edit client account {{ client_id }} </title>
    <link rel="stylesheet" href="{{- url_for('static', filename='css/style.css') -}}" />
  </head>

  <body>
    <form id="account_info">
      <div>
      <fieldset>
        <legend>Account Info</legend>
        <label for="client-id"> Member Id</label>
        <input id="client-id" value="{{ client_info_values['CLIENT_ID'] }}" type="number" readonly/> 
      </fieldset>

      <fieldset form="client_info" name="Client Data" {% if view_only_mode %} disabled="disabled" {% endif %}>
        <legend>Client Details</legend>
       
          {{ build_form_inputs(schema, client_info_values) }}
      
          {% set risk_levels = schema.label_columns['Risk'] + ["Not Verified"] %}
          {{ render_cat_feature('VerifiedRisk', 
                                risk_levels, 
                                client_info_values['Risk'] if client_info_values['Risk'] else "Not Verified") 
          }}
  
        </fieldset>

      {% if view_only_mode %}
        <fieldset >
          <legend>Predicted Risk Assessment</legend>
        
          <label for="PredictedRisk">Assessment</label>
          <input id="PredictedRisk" value="{{client_info_values['PredictedRisk']}}" readonly />

            {% if client_info_values['ExplainRisk'] %}
              <label for="ExplainRisk">Explaination</label>
              {%set explaination = render_explain_anchors(client_info_values['ExplainRisk'])%}
              <textarea id="ExplainRisk" rows="5" cols="50" readonly>
                {{- explaination -}}
              </textarea>
            {% endif %}
        </fieldset>
      {% else %}
         <input  id="update-account" value="Submit Changes" type="submit">
      {%endif%}
      </div>
        
    </form>
  </body>

  {% if not view_only_mode %}
   <script src="{{- url_for('static', filename='js/handleFormSubmit.js') -}}"></script>
  <script>
    const exampleForm = document.getElementById("client_info");
    exampleForm.addEventListener("submit", handleFormSubmit);
  </script>
  {% else %}
    <A HREF="{{-url_for('Accounts.retrieve_account_info', account_id=client_info_values['CLIENT_ID']) -}}?for_edit=True"> Edit Client information </A>
  {% endif %}
</html>
